* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.admin-portal-home {
  .main-card {
    margin: 10px;
    text-align: center;
    .title {
      background-color: rgb(25, 118, 210);
      max-width: fit-content;
      margin: auto;
      padding: 10px;
      color: #ffffff;
      border-radius: 10px;
    }
  }
}

// Actually modal is not in this hierarchical dom...Thats why we need to apply modal properties without nesting in any other element

  .modal{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pagination ul{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }